/* Clase para los tipos de fuentes */
.nunito {
    font-family: 'Nunito';
}
.sizeXS{
    font-size:8px;
}
.sizeS {
    font-size:12px;
}
.sizeM {
    font-size:22px;
}
.sizeL {
    font-size:32px;
}
.fondoOscuro {
    background-color: #222831;
}
.fondoGris {
    background-color: #393E46;
}
.fondoNaranja {
    background-color: #F88E52;
}
.fondoBlanco {
    background-color: #ffffff;
}
.blanco {
    color: #ffffff;
}
.naranja {
    color: #F88E52;
}
.azulOscuro {
    color: #222831;
}
.grisAzulado{
    color: #393E46;
}

/*Podemos organizar los elementos de un div, y/o etiqueta que queramos*/
.centrado{
    display: flex;
    justify-content: center;
}
.izquierda{
    display: flex;
    justify-content: left;
}
.derecha{
    display: flex;
    justify-content: right;
}