/*Author: Matthew Conde Oltra*/

/* Clase para el tamaño del mapa */
.map {
    height: 800px;
    width: 100%;
}

.mapAdmin {
    height: 500px;
    width: 100%;
}

/* Clase para la Leyenda del mapa */
.gradient {
}

/* Clase para los tipos de fuentes */

.banner {
    position: relative;
    background: url(../images/imagen_ciudad.jpg);
    min-height: 100vh;
    background-size: cover;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Nunito' !important;
    min-width: 775px;
}

.btn-primary {
    background-color: #F88E52 !important;
}

.login_link:hover {
    color: #F88E52;
}

.sizeXS {
    font-size: 8px;
}

.sizeS {
    font-size: 12px;
}

.sizeTitlePopUp {
    font-size: 18px;
}

.sizeM {
    font-size: 22px;
}

.sizeL {
    font-size: 32px;
}

.fondoOscuro {
    background-color: #222831;
}

.fondoGris {
    background-color: #393E46 !important;
}

.fondoNaranja {
    background-color: #F88E52 !important;
}

.fondoBlanco {
    background-color: #ffffff;
}

.bordeOscuro {
    border-color: #222831;
}

.bordeGris {
    border-color: #393E46 !important;
}

.bordeNaranja {
    border-color: #F88E52 !important;
}

.bordeBlanco {
    border-color: #ffffff;
}

.blanco {
    color: #ffffff;
}

.naranja {
    color: #F88E52;
}

.azulOscuro {
    color: #222831;
}

.grisAzulado {
    color: #393E46;
}

/*Podemos organizar los elementos de un div, y/o etiqueta que queramos*/

.centrado {
    display: flex;
    justify-content: center;
}

.izquierda {
    display: flex;
    justify-content: left;
}

.derecha {
    display: flex;
    justify-content: right;
}

/*Para las formas de algunas imagenes*/

/*Este estilo es utilizado en la imagen del perfil*/

.redonda {
    width: 130px;
    height: 130px;
    background-color: #393E46;
    border-radius: 160px;
    border: 5px solid #393E46;
}

/*Para el texto*/

.alinear {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: auto;
}

.inlineBlock {
    display: flex;
    display: inline;
    justify-content: center;
    margin: auto;
    padding: auto;
}

.centrarDiv {
    margin: auto;
}

/*Para el css del template de bootstrap*/

/*Para la foto de fondo*/

header.masthead {
    text-align: center;
    color: #fff;
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover
}

header.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px
}

header.masthead .intro-text .intro-lead-in {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 50px;
}

header.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 50px;
}

@media (min-width:768px) {
    header.masthead .intro-text {
        padding-top: 300px;
        padding-bottom: 200px
    }

    header.masthead .intro-text .intro-lead-in {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 50px;
    }

    header.masthead .intro-text .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 25px;
    }
}

/*Para el navbar*/

.navbarAdmin{
/*si*/
}

#mainNav {
    background-color: #222831
}

.intro-heading:hover {
    cursor: default;
}

.intro-lead-in:hover {
    cursor: default;
}

#mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    background-color: #F88E52;
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
    color: #F88E52
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 90%;
    font-weight: 400;
    padding: .75em 0;
    letter-spacing: 1px;
    color: #fff;
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #F88E52
}

@media (min-width:992px) {
    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        transition: padding-top .3s, padding-bottom .3s;
        border: none;
        background-color: transparent
    }

    #mainNav .navbar-brand {
        font-size: 1.75em;
        transition: all .3s
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important
    }

    #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #222831
    }

    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0
    }

    #darkNav {
        border: none;
        background-color: #222831
    }

    #cuerpo {
        margin-left: 0px !important;
    }
}

/*Para los objetos seleccionados*/
/*
::selection {
    background: #F88E52;
    text-shadow: none
}

/*Para quitar borde azul de los botones de bootstrap*/

.btn,
.btn-primary {
    outline: none !important;
    box-shadow: none !important;
    border-color: none !important;
    border: none !important;
}

/*Para el boton de ver mapa*/

.btn-xl {
    font-size: 18px;
    padding: 20px 40px !important;
    font-style: bold;
}

/*Para las distintas secciones*/

.page-section {
    padding: 100px 0
}

@media (min-width:768px) {
    section {
        padding: 150px 0
    }
}

/*Para sección de app*/











/*Para la página del Admin*/

.cerrarSesion {
    width: 30% !important;
    padding-right: 0% !important;

    text-align: right;
}

.modoSensores {
    color: #F88E52;
}

.modoSensores:hover {
    color: #F5E0D3;

    text-decoration: none;
}

.modoUsuarios {
    color: white;
}

.modoUsuarios:hover {
    color: #F5E0D3;

    text-decoration: none;
}

/* CONTENEDOR */
.contenedor {
    width: 100%;
    height: 100%;

    position: relative;
    z-index:2;
}

/* CUERPO */
.cuerpo {
    margin-top: 2.5rem;
    margin-bottom: 3rem;

    height: 85%;

    position: relative;
    z-index:2;
}

/* TARJETAS INFORMACION GENERAL */
.tarjetasInfoGeneral {
    padding-top: 1rem;
    padding-bottom: 1rem;

    display: flex;
    justify-content: space-between;
}

/* CADA TARJETA */

.tarjeta {
    display: flex;
    justify-content: space-between;
}

/* DENTRO DE CADA TARJETA */

.iconoTarjeta {
    padding-bottom: .5rem;
    padding-left: .4rem;
    padding-top: .5rem;
}

.icono {
    width: 3rem;
    height: 3rem;
}

.textoTarjeta {
    padding-top: .5rem;
    padding-bottom: .5rem;

    line-height: normal;

    text-align: center;
    font-size: 1rem;

}

.textoTarjeta:hover {
    cursor: default;
}

.valorTarjeta {
    padding: 1rem;


    text-align: center;
    font-size: 1rem;
}

.valorTarjeta:hover {
    cursor: default;
}

/* /DENTRO DE CADA TARJETA */

/* /CADA TARJETA */

/* /TARJETAS INFORMACION GENERAL */

/* SUBCUERPO */

.subcuerpo {
    height: 80%;
}

/* TARJETAS INFORMACION DE CADA SENSOR */

.tarjetasInfoSensores {
    justify-content: space-between;
    height: 100%;
}

.iconoDesvincular:hover{
    cursor: pointer;
    content: url(../images/desvincularNaranja.png);
}

.iconoDesvincular{
    width: 1.5rem;
    height: 1.5rem;
}

/* TARJETA TODOS LOS SENSORES Y TARJETA INFORMACION DE UN SENSOR */

.fila {
    height: 50%;
}

.tarjetaInfo {

    height: 100%;
}

.contenedorSensores {
    height: 100%;
    padding: 0% !important;
}

.headerLista {
    background-color: #222831;
    color: white;

    width: 100%;
    height: 20% !important;

    margin: 0% !important;
}

.iconoAdd {
    width: 1.5rem;
    height: 1.5rem;
}

.iconoAdd:hover {
    cursor: pointer;
    content: url(../images/addHover.png);
}

.iconoCan {
    width: 1.5rem;
    height: 1.5rem;
}

.iconoCan:hover {
    cursor: pointer;
    content: url(../images/canHover.png);
}

.contenedorLista {
    height: 80%;
    overflow: hidden;
}

.nombresLista{
    height: 12%;    
}

.nombresLista:hover {
    cursor: default;
}

.lista {
    list-style-type: none;

    height: 89%;

    padding-left: 0% !important;
    padding-top: .5% !important;
    margin-bottom: 0% !important;

    overflow: auto;
    
    background: #C9CFD8;
}

.tarjetaLista {
    padding: 0% !important;

    border-bottom: 1px;

    width: 100%;

    margin: 0% !important;

    cursor: pointer;

}

.elementoNaranja{
    background-color: #F88E52;
}

.elementoNaranja:hover{
    background-color: #F7A171 !important;
}

.elementoLista {

    width: 100%;
    height: 100%;

}

.elementoLista:hover {
    background-color: #F5E0D3;
}

.ul.li.div {
    text-align: center;
}

.columnasInfoSensor {
    text-align: center;
}

.col-1 {
    padding: 0% !important;
}

.iconoDeCadaElemento {
    width: 100%;
}

.textoSensores {
    padding-left: 1rem;
}

.textoSensores:hover {
    cursor: default;
}

.cajaDeTexto {
    background-color: #222831 !important;
}

.cajaDeTexto.placeholder {
    color: white;
}

.cajaDeTexto:focus {
    border-color: #F88E52 !important;
    box-shadow: none !important;
}

.contenedorSearch {}

.contenedorIconosEditar {
    padding-top: 0% !important;
    padding-bottom: 0% !important;
    padding-right: 1rem !important;
    padding-left: 0% !important;

    align-items: center;
}

.informacionUsuario {
    widows: 100%;
    height: 80%;
}

.nombreTipoId {}

.datosSensor {
    padding: .8rem;
    padding-top: .4rem !important;

}

.contenedor1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.datosUsuario {
    padding: .8rem;
    padding-top: .4rem !important;

}

.correo {
    padding: .8rem;
    padding-top: 0% !important;

}

.telefono {
    padding: .8rem;
    padding-top: 0% !important;

}

/* /TARJETAS INFORMACION DE CADA SENSOR */

/* MAPA */

.contenedorCalendario{
display:inline-block;
}

.columnaMapa {
    height: 92%;
}

.contenedorMapa {
    height: 100%;
}

.mapAdmin {
    height: 100%;
}

/* /MAPA */

/* /SUBCUERPO */

/* /CONTENEDOR */


/* Estilos LoginAdmin */

.contenedorLogin {
    margin-top: 17%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
}

.entradaTexto {
    color: white !important;
    background-color: #222831 !important;
}

.recuperar:hover {
    text-decoration: none;
    color: #F5E0D3;
}

.textoIncorrecto {
    color: red;
    margin-top: 1rem;
    text-align: center;
}

/* Animacion fondo */

.contenedorPulsos{
    height: 2px;
}

.pulse1 {
    position: relative;
    z-index:2;
    margin-left: 35%;
    display: block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: transparent;
    cursor: default;
    box-shadow: 0 0 0 rgba(248, 142, 82, 0.4);
    animation: pulse 1.5s;
}

.pulse2 {
    position: relative;
    z-index:2;
    margin-left: 28%;
    display: block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: transparent;
    cursor: default;
    box-shadow: 0 0 0 rgba(248, 142, 82, 0.4);
    animation: pulse 1.5s;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(248, 142, 82, 0.4);
    }

    70% {
        -webkit-box-shadow: 0 0 0 1500px rgba(248, 142, 82, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(248, 142, 82, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(248, 142, 82, 0.4);
        box-shadow: 0 0 0 0 rgba(248, 142, 82, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 1500px rgba(248, 142, 82, 0);
        box-shadow: 0 0 0 1500px rgba(248, 142, 82, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(248, 142, 82, 0);
        box-shadow: 0 0 0 0 rgba(248, 142, 82, 0);
    }
}

.invisible{
    visibility: hidden;
}

.footerAdmin {

}
